.partner h2 {
  font-size: 48px;
  color: #242730;
  line-height: 56px;
  letter-spacing: -1.5px;
  font-weight: bold;
  margin-top: 150px;
}

.swiper.partner {
  width: 100%;
  height: 100%;
}

.swiper.partner .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px !important;
  height: 270px !important;
}

.swiper.partner .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 420px) {
  .swiper.partner {
    width: 80%;
    height: 80%;
  }
  .partner h2 {
    font-size: 28px;
  }
  .swiper.partner .swiper-slide {
    width: 170px !important;
    height: 170px !important;
  }
}
